* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

@font-face {
    font-family: Rubik;
    src: url(fonts/Rubik/Rubik-Medium.ttf);
}

@font-face {
    font-family: RubikRegular;
    src: url(fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: RubikLight;
    src: url(fonts/Rubik/Rubik-Light.ttf);
}

@font-face {
    font-family: Grotesk;
    src: url(fonts/Grotesk/NHaasGroteskTXPro-75Bd.ttf);
}

@font-face {
    font-family: GroteskLight;
    src: url(fonts/NHaasGroteskTXPro-55Rg.ttf);
}

@font-face {
    font-family: Circular;
    src: url(fonts/Circular/circular.ttf);
}

@font-face {
    font-family: CircularMedium;
    src: url(fonts/Circular/Circular\ Std\ Medium.ttf);
}

@font-face {
    font-family: CircularBold;
    src: url(fonts/Circular/Circular\ Std\ Bold.ttf);
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.croma {
    background-color: green;
}

.crome {
    background-color: blue;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h2 {
    color: #3D3D3E;
    font-family: Grotesk;
    font-size: clamp(1.75em, 1em + 3vw, 2.5em);
    text-align: center;
    padding-bottom: 1em;
}

h3 {
    padding: 0.3em 0 0 0.5em;
    font-family: Circular;
    color: #3D3D3E;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 15px;
}

.intro {
    position: relative;
    background-image: url(img/desktop.webp);
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
}

section {
    padding: 5vh 0 15vh 0;
    margin: 0 auto;
    width: 65%;
}

#produtos{
    width: 85% !important;
}

a {
    text-decoration: none;
    color: initial;
}

.center {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
}

nav {
    padding: 10px 0 5px 0;
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
    transition: 500ms;
}

.activeNav {
    background-color: #fc0b13b0;
    backdrop-filter: blur(15px);
    top: 0px;
}

.logo {
    margin-left: 20px;
}

.menu {
    margin-top: 15px;
    width: 90%;
    text-align: right;
}

.menu a {
    font-family: Circular;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}


.title {
    margin: auto;
    width: 80%;
    margin-top: 30vh;
    color: white;
    font-family: Circular;
}

.title h1 {
    font-size: clamp(2.7rem, 1em + 4vw, 4rem);
}

.produtos_mobile {
    display: none
}

.produtos {
    padding-top: 10em;
    padding-bottom: 5vw;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 600px);
    grid-gap: 30px;
    justify-content: center;
}

.card {
    height: 50rem;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-content {
    height: 100%;
    position: relative;
}

.gestao_pedidos {
    background-color: #002F51;
    color: white;
    border-radius: 5px;
}

.gestao_central {
    background-color: #17A5DE;
    color: white;
    border-radius: 5px;
}

.card-logo {
    height: 30%;
    z-index: 1;
    position: relative;
    text-align: center;
}

.imagem {
    top: 35%;
    left: 25%;
    position: absolute;
}

.card-text {
    height: 60%;
    padding: 40px;
    padding-top: 60px;
    font-family: Circular;
    font-size: 40px;
}

.card_button {
    text-align: center;
}

.card_button_gc a {
    border-radius: 100px;
    text-decoration: none;
    color: #ffffff;
    padding: 0.6em 0.6em;
    font-size: 1.5em;
    font-family: Circular;
    border: solid 2px #ffffff;
    transition: 200ms ease;
}

.card_button_gdp a {
    border-radius: 100px;
    text-decoration: none;
    color: #ffffff;
    padding: 0.6em 0.6em;
    font-size: 1.5em;
    font-family: Circular;
    border: solid 2px #ffffff;
    transition: 200ms ease;
}

.card_button_gc a:hover {
    color: #17A5DE;
    background-color: #ffffff;
    border: solid 2px #ffffff;
}

.card_button_gdp a:hover {
    color: #002F51;
    background-color: #ffffff;
    border: solid 2px #ffffff;
}

.cta {
    margin-top: 3em;
}

.ctaButton {
    border-radius: 100px;
    text-decoration: none;
    color: #D01117;
    padding: 1em 2em;
    font-family: Circular;
    border: solid 2px #D01117;
    transition: 200ms ease;
}

.ctaButton:hover {
    color: #ffffff;
    font-weight: bold;
    background-color: #D01117;
}

.c-carousel_slide {
    align-items: center;
    display: flex;
    font-size: 1em;
    justify-content: center;
    padding: 3em 3em;
    margin: 2em 2em;
    font-family: Circular;
    background-color: #fff;
}

.carousel_button_prev,
.carousel_button_next {
    top: 42%;
    position: absolute;
}

.carousel_button_next {
    right: 0px;
}

.carousel_button {
    border: none;
    font-size: x-large;
    background-color: transparent;
    color: #D01117;
    width: 30px;
    height: 30px;
}

.carousel_button:hover {
    cursor: pointer;
}

.carousel_clients {
    position: relative;
    margin: 0 auto;
    width: 90%;
}

#sobre .text {
    font-size: 1.3em;
    padding-right: 2em;
    font-family: Circular;
}

.contact {
    font-family: RubikLight;
    font-size: 1.2em;
    padding: 1em 0;
}

.whats_btn {
    margin-left: 0.5em;
}

.whats_btn a {
    border-radius: 100px;
    text-decoration: none;
    color: #D01117;
    padding: 0.6em 0.6em;
    font-size: 1em;
    font-family: Circular;
    border: solid 1px #D01117;
    transition: 200ms ease;
}

.whats_btn a:hover {
    color: #ffffff;
    background-color: #25D366;
    border: solid 1px #ffffff;
}

iframe {
    margin: 0.8em 0;
}

.footer {
    background-color: #D01117;
    bottom: 0;
    min-height: 300px;
    padding: 6em;
    text-align: center;
}

.logoFooter {
    margin: 4em 0;
}

.copyright {
    font-family: RubikLight;
    color: #ffffff;
    font-size: 1em;
}

@media screen and (max-width: 860px) {
    .intro {
        position: relative;
        background-image: url(img/tablet.webp);
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 80vh;
    }

    iframe {
        width: 100%;
    }

    .carousel_cards {
        display: block;
    }

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .intro {
        position: relative;
        background-image: url(img/mobile.webp);
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 80vh;
    }

    section {
        width: 80%;
    }

    .produtos_mobile {
        display: block;
        padding-top: 5em;
        padding-bottom: 5vw;
    }

    .produtos {
        display: none
    }

    .cards_mobile {
        display: grid;
        grid-template-columns: repeat(auto-fit, 380px);
        grid-gap: 30px;
        justify-content: center;
    }

    .card_mobile {
        height: 40rem;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .card_mobile_content {
        height: 100%;
        position: relative;
    }

    .card_mobile_logo {
        height: 30%;
        z-index: 1;
        text-align: center;
    }

    .imagem_mobile {
        margin-top: 25%;

    }

    .card_mobile_text {
        height: 60%;
        padding: 40px;
        padding-top: 60px;
        font-family: Circular;
        font-size: 1.7em;
    }

    .card_mobile_button {
        text-align: center;
    }

    #sobre .text {
        font-size: 1.2em;
        padding-top: 2em;
        padding-right: 0;
        font-family: Circular;
    }

    .whats_btn {
        padding-top: 1em;
        margin-left: 0.5em;
    }

    .whats_btn a {
        border-radius: 100px;
        text-decoration: none;
        color: #D01117;
        padding: 0.6em 0.6em;
        font-size: 1em;
        font-family: Circular;
        border: solid 1px #D01117;
        transition: 200ms ease;
    }

    .whats_btn a:hover {
        color: #ffffff;
        background-color: #25D366;
        border: solid 1px #ffffff;
    }

    h4 {
        padding-bottom: 0.5em
    }

    [class*="col-"] {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    .col-xs-1 {
        width: 8.33%;
    }

    .col-xs-2 {
        width: 16.66%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.33%;
    }

    .col-xs-5 {
        width: 41.66%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-7 {
        width: 58.33%;
    }

    .col-xs-8 {
        width: 66.66%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.33%;
    }

    .col-xs-11 {
        width: 91.66%;
    }

    .col-xs-12 {
        width: 100%;
    }
}